html, body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	background-image: URL("images/utilitaire/background-noise.jpg");
	pointer-events: auto;
}

.white {
	background-color: white;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

h1 {
	font-family: Open Sans;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	margin-top: 15px;
}

h2 {
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.4px;
	margin-top: 15px;
}

header {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-image: URL("images/utilitaire/background-noise.jpg");
	box-shadow: 0px 0px 40px 10px RGBA(0, 0, 0, 0.25) inset, 0px 2px 4px 0px
		GREY;
	position: relative;
}

.logo-header{
	height:125px;
	margin:0 auto;
}

header .menu {
	min-width: 500px;
    max-width: 1084px;
	margin: 0 auto;
	text-align: center;
	height:125px;
}

header .menu .btn {
	text-align: center;
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 70px;
}

header .menu .item-menu {
	display: inline-block;
	color: white;
}

header .menu .compte {
	display: inline-block;
	width: 250px;
	color: white;
	font-size: 18px;
	line-height: 14px;
	float: right;
	margin-top :25px;
}

header .menu .compte a {
	color: white;
	line-height: 30px;
	cursor: pointer;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	background-color: RGBA(255, 255, 255, 0.1);
	height: 30px;
	display: block;
	text-align: center;
	border: 1px solid RGBA(255, 255, 255, 0.4);
	transition: 0.2s;
}

header .menu .compte a:hover {
	background-color: RGBA(255, 255, 255, 0.03);
	padding-left: 20px;
}

.marge-lien {
	margin-top: 10px;
}

.compte i {
	margin-right: 10px;
}

header a {
	text-decoration: none;
	color: white;
}

header .menu .rechercher {
	display: inline-block;
	width: 250px;
	height: 40px;
	background-color: RGB(40, 40, 40);
	color: white;
	border: 2px solid RGBA(255, 255, 255, 0.4);
	border-radius: 15px;
	padding-left: 10px;
	float:left;
	margin-top:43px;
}

header .menu .rechercher:active {
	border: 2px solid RGBA(255, 255, 255, 0.8);
}

header .menu .rechercher:focus {
	border: 2px solid RGBA(255, 255, 255, 0.8);
}

header .item-menu:hover {
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	text-shadow: 0px 0px 25px RGBA(255, 255, 255, 0.75), 0px 0px 3px
		RGBA(255, 255, 255, 0.85);
}

footer {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 25px;
	background-image: URL("images/utilitaire/background-noise.jpg");
	bottom: 0;
}

.produit {
	margin: 0 auto;
	padding: 0 0 0 0;
	min-width: 500px;
	max-width: 1084px;
	padding-top: 20px;
}

.legende {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: RGBA(0, 0, 0, 0.55);
	position: absolute;
	bottom: 0;
}

.legende p {
	color: white;
	text-align: center;
	width: 75%;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 0 0 0 0;
	margin: 0 auto;
}

.slider {
	overflow: hidden;
}

.slider img {
	width: 100%;
	display:inline-block;
	transition:0.5s;
}

.slider img:hover{
	margin-top:-849px; /* <- hauteur de l'image générique */
}

.categorie img {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.categorie img:hover {
	transition: 0.2s;
	transform: rotate(3deg) scale(1.1);;
	opacity: 0.8;
}

.conteneur {
	width: 500px;
	height: 332px;
	overflow: hidden;
	display: inline-block;
	margin: 20px;
}

#scroller {
	background-image: url('images/utilitaire/scrollToTop.png');
	background-repeat: no-repeat;
	background-size: 75px;
	width: 75px;
	height: 75px;
	position: fixed;
	right: 0px;
	bottom: -5px;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}

#scroller:hover {
	bottom: 0px;
}

.conteneur-produit {
	margin-top: 25px;
	border-bottom: 1px solid RGB(200, 200, 200);
	display: table;
	padding-bottom: 25px;
}

.image-produit {
	height: 300px;
	width: 300px;
	float: left;
	margin-right: 15px;
}

.description-produit {
	display: inline-block;
	float: left;
	width: 769px;
}

.description-produit span {
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.4px;
	margin-top: 15px;
	text-align: justify;
	display: inline-block;
}

.page-produit {
	margin-bottom: 50px;
}

.btn-info {
	width: 175px;
	height: 40px;
	float: right;
	background-color: RGB(40, 40, 40);
	cursor: pointer;
	color: white;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	transition: 0.2s;
}

.btn-info i {
	margin-right: 15px;
}

.btn-info:hover {
	box-shadow: 0px 0px 40px 10px RGBA(255, 255, 255, 0.07) inset, 0px 2px
		4px 0px GREY;
}

.btn-ajout {
	width: 175px;
	height: 40px;
	float: right;
	background-color: RGB(210, 10, 10);
	cursor: pointer;
	color: white;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	transition: 0.2s;
}

.btn-ajout i {
	margin-right: 15px;
}

.btn-ajout:hover {
	box-shadow: 0px 0px 40px 10px RGBA(0, 0, 0, 0.07) inset, 0px 0px 4px 0px
		GREY;
}

.btn-qtt-lbl {
	width: 125px;
	height: 40px;
	float: right;
	color: RGB(100, 100, 100);;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
}

.btn-qtt-cbx select {
	width: 60px;
	height: 40px;
	float: right;
	cursor: pointer;
	color: RGB(100, 100, 100);;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	margin-right: 25px;
}

.btn-prix {
	width: 100px;
	height: 38px;
	float: right;
	color: RGB(100, 100, 100);;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	transition: 0.2s;
	margin-right: 25px;
	border: 1px solid RGB(125, 125, 125);
	background-color: RGB(235, 235, 235);
}

.total {
	font-size: 16px !important;
	font-weight: 900 !important;
	color: RGB(20, 20, 20) !important;
	background-color: RGB(215, 215, 215);
	border: 1px solid black;
}

.total-final {
	width: 100%;
}

.total-final h1 {
	float: right;
	line-height: 50px;
	margin-right: 20px;
	font-weight: 900;
}

.prix-final {
	height: 50px;
	width: 200px;
	line-height: 50px;
	font-size: 30px !important;
	font-weight: 900;
	margin-right: 0;
}

.no-border {
	border: none !important;
	width: 5px !important;
	background-color: white !important;
}

.produit-simili {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	width: 200px;
	transition: 0.2s;
	cursor: pointer;
}

.produit-simili:hover {
	opacity: 0.9;
	transform: scale(1.1);
}

.produit-simili img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}

.produit a {
	text-decoration: none;
	color: white;
}

.produit-simili h2 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.produit-simili h3 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.liste-produits-similaires {
	text-align: center;
	margin-top: 25px;
	padding-bottom: 25px;
}

.popup {
	display: block;
	padding: 25px;
	width: 27%;
	left: 50%;
	top: 50%;
	z-index: 20;
	transition: 0.2s;
	background-color: RGB(255, 255, 255);
	box-shadow: 0px 0px 50px RGBA(0, 0, 0, 1);
	margin: auto;
	margin-top: 10%;
	height: 350px;
}

.popup span {
	margin-top: 15px;
	display: inline-block;
	width: 180px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.popup input {
	float: left;
	display: inline-block;
	width: 97.5%;
	padding-left: 10px;
	height: 30px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.btn-popup {
	height: 30px;
	font-family: Open Sans;
	font-style: normal;
	font-variant: normal;
	margin-top: 35px !important;
	cursor: pointer;
	text-align: center;
	border: 1px solid RGB(50, 50, 50);
	transition: 0.2s;
	background-color: RGB(50, 50, 50);
	color: white;
	display: inline-block;
	width: 180px;
	text-decoration: none;
	color: white;
	height: 40px !important;
	line-height: 40px !important;
	font-size: 16px !important;
	font-weight: 400 !important;
}

.align-gauche {
	float: left;
}

.align-droite {
	float: right;
}

.btn-popup:hover {
	background-color: RGB(25, 25, 25);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
	width: 100%;
	height: 100%;
	display: none;
}

.no-merge {
	margin-bottom: 0px;
}

.liste-item-inscription {
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 40px;
	padding-bottom: 25px;
}

.item-gauche {
	display: inline-block;
	width: 50%;
	float: left;
}

.item-gauche span {
	margin-top: 15px;
	display: inline-block;
	width: 180px;
}

.item-gauche input {
	float: left;
	display: inline-block;
	width: 90%;
	padding-left: 10px;
	height: 30px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.item-droit {
	display: inline-block;
	width: 50%;
}

.item-droit span {
	margin-top: 15px;
	display: inline-block;
	width: 180px;
}

.item-droit input {
	float: left;
	display: inline-block;
	width: 90%;
	padding-left: 10px;
	height: 30px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.btn-inscription {
	margin-top: 35px !important;
	cursor: pointer;
	text-align: center;
	border: 1px solid RGB(50, 50, 50);
	margin-right: 7.5%;
	transition: 0.2s;
	background-color: RGB(50, 50, 50);
	height: 35px !important;
	color: white !important;
	float: right !important;
	width: 200px !important;
	line-height: 35px !important;
	font-size: 16px !important;
	font-weight: 400 !important;
}

.btn-connexion {
	margin-top: 35px !important;
	cursor: pointer;
	text-align: center;
	border: 1px solid RGB(50, 50, 50);
	transition: 0.2s;
	background-color: RGB(50, 50, 50);
	color: white !important;
	float: right !important;
	width: 200px !important;
	line-height: 40px !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	height: 42px !important;
}

.btn-valider:hover {
	background-color: RGB(25, 25, 25);
}

.btn-supprimer:hover {
	background-color: RGB(25, 25, 25);
}

.legende-categorie {
	width: 500px;
	height: 50px;
	background-color: RGBA(0, 0, 0, 0.8);
	display: block;
	text-align: center;
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 50px;
	position: relative;
	bottom: 50px;
}

input.input-error {
	border: 1px solid RGB(255, 125, 125);
	color: RGB(255, 125, 125) !important;
}

input.input-error::placeholder {
	color: RGB(255, 125, 125) !important;
}

span.input-error {
	color: RGB(255, 125, 125) !important;
}

.liste-produits-similaires a {
	color: RGB(40, 40, 40);
	font-family: Open Sans;
}

.admin-item-gauche {
	display: inline-block;
	width: 50%;
	float: left;
}

.admin-item-gauche span {
	display: inline-block;
	width: 10%;
	float: left;
	margin-left: 5%;
}

.admin-item-gauche input {
	float: left;
	display: inline-block;
	width: 75%;
	padding-left: 10px;
	height: 30px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.admin-item-droit {
	display: inline-block;
	width: 50%;
}

.admin-item-droit span {
	display: inline-block;
	width: 10%;
	float: left;
}

.admin-item-droit input {
	float: left;
	display: inline-block;
	width: 80%;
	padding-left: 10px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 40px;
	line-height: 40px;
	color: RGB(45, 45, 45);
}

.btn-admin {
	margin-top: 0px !important;
}

.item-admin {
	border: 1px solid RGB(175, 175, 175);
	margin-top: 20px;
	margin-bottom: 20px !important;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	background-color: RGB(240, 240, 240);
}

.btn-admin-ajout {
	cursor: pointer;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	background-color: RGB(150, 255, 150);
	border: 1px solid RGB(50, 55, 50);
	color: RGB(50, 55, 50);
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	transition: 0.2s;
}

.btn-admin-ajout:hover {
	background-color: RGB(100, 205, 100);
}

.btn-admin-ajout i {
	margin-right: 10px;
}

.admin-btn-menu {
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	color: white;
	background-color: RGB(50, 50, 50);
	border: 1px solid RGB(50, 50, 50);
	transition: 0.2s;
	width: 30%;
	text-align: center;
	margin: 10px;
	cursor: pointer;
}

.admin-btn-menu:hover {
	background-color: RGB(25, 25, 25);
}

.conteneur-center {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bototm: 50px;
}

.overlayEtatArticle {
	bottom: 300px;
	position: relative;
}

.ancienPrix{
	border: 1px solid RGB(255, 125, 125);
	color: RGB(255, 125, 125);
	text-decoration: line-through;
	background-color: RGBA(255, 125, 125, 0.25);
}

.ancienPrixSimili{
	color: RGB(255, 125, 125);
	text-decoration: line-through;
}

.error-form{
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	border: 1px solid RGB(255, 125, 125);
	color: RGB(255, 125, 125);
	background-color: RGBA(255, 125, 125, 0.25);
	width:94.5%;
	display:block;
	padding:10px;
	margin-top:15px;
}

.error-form-admin{
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	border: 1px solid RGB(255, 125, 125);
	color: RGB(255, 125, 125);
	background-color: RGBA(255, 125, 125, 0.25);
	width:98%;
	display:block;
	padding:10px;
	margin-top:15px;
}

.error-form-popup{
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600 !important;
	border: 1px solid RGB(255, 125, 125);
	color: RGB(255, 125, 125) !important;
	background-color: RGBA(255, 125, 125, 0.25);
	width:96% !important;
	display:block;
	padding:10px;
	margin-top:0px !important;
}
}