html, body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	background-image: URL("images/font/background-noise.jpg");
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.white {
	background-color: white;
}

h1 {
	font-family: Open Sans;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	margin-top: 15px;
}

h2 {
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.4px;
	margin-top: 15px;
}

header {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 125px;
	background-image: URL("images/font/background-noise.jpg");
	box-shadow: 0px 0px 40px 10px RGBA(0, 0, 0, 0.25) inset, 0px 2px 4px 0px
		GREY;
	position: relative;
}

header .menu {
	width: 1500px;
	margin: 0 auto;
	padding-top: 45px;
}

header .menu .btn {
	text-align: center;
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

header .menu .item-menu {
	display: inline-block;
	width: 250px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

header .menu .compte {
	display: inline-block;
	width: 250px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 14px;
}

header .menu .compte a {
	color: white;
	line-height: 14px;
}

header a {
	text-decoration: none;
	color: white;
}

header .menu .rechercher {
	display: inline-block;
	width: 250px;
	height: 40px;
	background-color: RGB(40, 40, 40);
	color: white;
	border: 2px solid white;
	border-radius: 15px;
	padding-left: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

header .item-menu:hover {
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	text-shadow: 0px 0px 25px RGBA(255, 255, 255, 0.75), 0px 0px 3px
		RGBA(255, 255, 255, 0.85);
}

footer {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 25px;
	background-image: URL("images/font/background-noise.jpg");
	bottom: 0;
}

.produit {
	margin: 0 auto;
	padding: 0 0 0 0;
	min-width: 500px;
	max-width: 1084px;
	padding-top: 20px;
}

.legende {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: RGBA(0, 0, 0, 0.55);
	position: absolute;
	bottom: 0;
}

.legende p {
	color: white;
	text-align: center;
	width: 75%;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 0 0 0 0;
	margin: 0 auto;
}

.slider {
	overflow: hidden;
}

.slider img {
	width: 100%;
}

.categorie img {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.categorie img:hover {
	transition: 0.2s;
	transform: rotate(3deg) scale(1.1);;
	opacity: 0.8;
}

.conteneur {
	width: 500px;
	height: 332px;
	overflow: hidden;
	display: inline-block;
	margin: 20px;
}

#scroller {
	background-image: url('images/font/scrollToTop.png');
	background-repeat: no-repeat;
	background-size: 75px;
	width: 75px;
	height: 75px;
	position: fixed;
	right: 0px;
	bottom: -5px;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}

#scroller:hover {
	bottom: 0px;
}

.conteneur-produit {
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid RGB(200, 200, 200);
	display: table;
	padding-bottom: 25px;
}

.image-produit {
	height: 300px;
	width: 300px;
	float: left;
}

.description-produit {
	display: inline-block;
	float: left;
	width: 784px;
}

.description-produit span {
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.4px;
	margin-top: 15px;
	text-align: justify;
}

.page-produit {
	margin-bottom: 50px;
}

.btn-info {
	width: 175px;
	height: 40px;
	float: right;
	background-color: RGB(40, 40, 40);
	cursor: pointer;
	color: white;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	transition: 0.2s;
}

.btn-info i {
	margin-right: 15px;
}

.btn-info:hover {
	box-shadow: 0px 0px 40px 10px RGBA(255, 255, 255, 0.07) inset, 0px 2px
		4px 0px GREY;
}

.btn-ajout {
	width: 175px;
	height: 40px;
	float: right;
	background-color: RGB(210, 10, 10);
	cursor: pointer;
	color: white;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	transition: 0.2s;
}

.btn-ajout i {
	margin-right: 15px;
}

.btn-ajout:hover {
	box-shadow: 0px 0px 40px 10px RGBA(0, 0, 0, 0.07) inset, 0px 0px 4px 0px
		GREY;
}

.btn-qtt-lbl {
	width: 125px;
	height: 40px;
	float: right;
	color: RGB(100, 100, 100);;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
}

.btn-qtt-cbx select {
	width: 60px;
	height: 40px;
	float: right;
	cursor: pointer;
	color: RGB(100, 100, 100);;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	margin-right: 25px;
}

.btn-prix {
	width: 100px;
	height: 38px;
	float: right;
	cursor: pointer;
	color: RGB(100, 100, 100);;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 40px;
	margin-top: 15px;
	text-align: center;
	transition: 0.2s;
	margin-right: 25px;
	border: 1px solid RGB(125, 125, 125);
}

.produit-simili {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	width: 200px;
	transition: 0.2s;
	cursor: pointer;
}

.produit-simili:hover {
	opacity: 0.9;
	transform: scale(1.1);
}

.produit-simili img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}

.produit a {
	text-decoration: none;
	color: white;
}

.produit-simili h2 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.produit-simili h3 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.liste-produits-similaires {
	text-align: center;
	margin-top: 25px;
	padding-bottom: 25px;
}

.no-merge {
	margin-bottom: 0px;
}

.liste-item-inscription {
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 40px;
	padding-bottom: 25px;
}

.item-gauche {
	display: inline-block;
	width: 50%;
	float: left;
}

.item-gauche span {
	margin-top: 15px;
	display: inline-block;
	width: 180px;
}

.item-gauche input {
	float: left;
	display: inline-block;
	width: 90%;
	padding-left: 10px;
	height: 30px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.item-droit {
	display: inline-block;
	width: 50%;
}

.item-droit span {
	margin-top: 15px;
	display: inline-block;
	width: 180px;
}

.item-droit input {
	float: left;
	display: inline-block;
	width: 90%;
	padding-left: 10px;
	height: 30px;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	color: RGB(45, 45, 45);
}

.btn-inscription {
	margin-top:35px !important;
	cursor: pointer;
	text-align: center;
	border: 1px solid RGB(50,50,50);
	float:right;
	margin-right:7.5%;
	transition:0.2s;
	background-color:RGB(50,50,50);
	color:white;
}

.btn-valider:hover{
	background-color:RGB(100,100,100);
}

.btn-annuler:hover{
	background-color:RGB(100,100,100);
}